    </main>

		<footer>
      <p class='text-[#e8eddf] font-semibold underline font-mono ml-5'>Contact Me</p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">Email: <a href="mailto:curbani@atu.edu">curbani@atu.edu</a></p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">Phone: <a href="tel:501-555-5555">501-555-5555</a></p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">GitHub: <a href='https://github.com/curbaniATU'>curbaniATU</p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">LinkedIn: <a href='https://www.linkedin.com/in/caleb-urbani-030645354'>Caleb Urbani</p>
    </footer>
  </div>

</body>
</html>