    </main>

		<footer class="bg-[#242423] text-[#e8eddf] p-1 mt-4 flex flex-col items-start mb-3">
      <p class='text-[#e8eddf] font-semibold underline font-mono ml-5'>Contact Me</p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">Email: <a href="mailto:curbani@atu.edu">curbani@atu.edu</a></p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">Phone: <a href="tel:501-555-5555">501-555-5555</a></p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">GitHub: <a href='https://github.com/curbaniATU'>curbaniATU</p>
      <p class="text-[#e8eddf] font-thin font-mono ml-5">LinkedIn: <a href='https://www.linkedin.com/in/caleb-urbani-030645354'>Caleb Urbani</a></p>
      <p class="text-[#e8eddf] font-thin italic font-mono ml-5 mt-6">All course descriptions come from the <a href= "https://catalog.atu.edu/courses/coms/" class="underline">Arkansas Tech University Course Catalog</a></p>
    </footer>
  </div>

</body>
</html>