<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | My Portfolio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div>
    <header>
      <h1>Caleb Urbani's Portfolio</h1>
      <h2>Computer Science</h2>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
