<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | My Portfolio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="min-h-screen w-screen flex flex-col bg-[#242423] p-0 m-0">
    <header class="text-center bg-[#242423] text-[#e8eddf] p-4 m-0">
      <h1 class="text-4xl font-bold font-mono text-[#e8eddf]">Caleb Urbani's Portfolio</h1>
      <h2 class="text-3xl font-medium font-mono text-[#e8eddf]">Computer Science</h2>
      <nav class="w-full text-white bg-[#242423] py-4 px-6 flex justify-center">
        <ul class="flex space-x-6">
          <li class="text-[#e8eddf] hover:text-[#cfdbd5] font-thin font-mono text-xl cursor-pointer"><a href="/">Home</a></li>
          <li class="text-[#e8eddf] hover:text-[#cfdbd5] font-thin font-mono text-xl cursor-pointer"><a href="/education">Education</a></li>
          <li class="text-[#e8eddf] hover:text-[#cfdbd5] font-thin font-mono text-xl cursor-pointer"><a href="/projects">Projects</a></li>
          <li class="text-[#e8eddf] hover:text-[#cfdbd5] font-thin font-mono text-xl cursor-pointer"><a href="/skills">Skills</a></li>
          <li class="text-[#e8eddf] hover:text-[#cfdbd5] font-thin font-mono text-xl cursor-pointer"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="text-center flex flex-col justify-start items-center bg-[#f5cb5c] p-6 flex-grow space-x-1">
